node_modules
build
/.env
/test.ts
/yarn.lock
db/*
.vscode
/config.ts
.DS_Store
/assets/.DS_Store
scratch.md
ecosystem.config.js
yarn-error.log
package-lock.json

# Operating System Files
.DS_Store
Thumbs.db
